* { box-sizing:border-box; }
body,table { margin:0; font:10pt Arial; }
#bodyWrap { display:flex; flex-direction:column; padding:10px; width:100vw; height:100vh; }

#infoRow { display:flex; min-height:76px; }
	#infoRow > * { padding:4px; border:1px solid #ddd; margin:0 4px; }

	#infobox1 { width:300px; }
		#file1, #file2 { color:cornflowerblue; font-weight:bold; }
	#infobox2 { flex-grow:1; border-collapse:collapse; }
		#infobox2 th, #infobox2 td { font-weight:normal; border:1px solid #ddd; }
		#infobox2 td { text-align:right; padding-right:8px; }

#printRow { flex-grow:1; display:flex; padding-top:10px; }
	#printRow > div { border:1px solid #ddd; overflow-y:auto; font-family:monospace; margin:0 2px; }

	#byte1, #byte2 { width:calc(16 * 20px + 20px); }
	#real1, #real2 { width:calc(16 * 10px + 20px); }

	.byte, .real { display:inline-block; text-align:center; height:16px; cursor:pointer; }
	.byte { width:20px; }
	.zero { color:#333; background-color:#f0f2ff; }
	.real { width:10px; }
	.diffed { background-color:gold; }
	.pointed { background-color:#c2c2c2; }