* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 10pt Arial;
}

#wrap {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 100vw;
	height: 100vh;
}

#infoRow {
	display: flex;
	justify-content: space-around;
	min-height: 30px;
}

#infoRow > div {
	padding: 4px;
}

#file1, #file2 {
	color: cornflowerblue;
	font-weight: bold;
}

#printRow {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

#printRow > div {
	border: 1px solid #ddd;
	width: 48vw;
	overflow-y: auto;
	font-family: monospace;
}

.byte {
	display: inline-block;
	padding: 2px 4px;
	cursor: pointer;
}

.byteDiff {
	background-color: gold;
}

.bytePointed {
	background-color: #ccc;
}